.player{
margin-top:20px;
width:200px;
}
.album-art-container{
}
.album-art{
width:200px;
}

.meta{
}

.track-name{
font-size:20px;
font-weight: bold;
margin: 0;
}
.artist-name{
font-size:20px;
margin: 0px;}

.album-name{
font-size:16px;
margin: 0px;}

.top {
  display: block;
}

.top > .meta{
  margin-bottom: 8px;
}

.bottom {
  display: block;
}

.left {
  display: inline-flex;
}

.right {
  display: inline-flex;
}

.right > .meta{
  margin-left: 16px;
}

.left {
  display: inline-flex;
}

.left > .meta{
  margin-right: 16px;
}
